1. At least 8 robots should be simultaneously acting their role accordingly to the current scenario.

2. Robots will be charge themselves autonomously or they will not need to charge at all.

3. Robots should be remotely controllable.

4. Robots' diameter should not exceed 13,5 mm.

5. Whole set-up should be accessible  from all around the world.

6. Moderator should be able to change the restrictions of the scenarios.

7. Software should be able to acquire the robots' positions.

8. There should be built-in imaginary sensors in software. Moderator should be able to decide which sensors are active
or not. There should be at least 3 built-in imaginary sensors in software. Imaginary sensors may not have any meanings 
in real life.

9. Software should be able to control the speed of the robots.

10. Software should have an user interface.
